## The dataset

This is a real dataset and it was downloaded using web scraping techniques. The data contains registers from fotocasa which is one of the most popular websites of real estate in Spain. Please, do not do this (web scraping) unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro and In no case were economic returns obtained from it.

It contains thousands of data from real homes published on the web www.fotocasa.com. Your goal is to extract as much information as possible with the knowledge you have so far about data science, for example what is the most expensive home in the entire dataset?

Let's start with precisely that question... Good luck!

#### Read the dataset assets/real_estate.csv and try to visualize the table (★☆☆)

In [9]:
import numpy as np
import pandas as pd

#### What is the most expensive home in the dataset? (★☆☆)

In [10]:
df_datos=pd.read_csv("assets/real_estate.csv",sep=";",index_col=0)
display(df_datos.head())

,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,date,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,2019-12-28T18:27:15.9975027Z,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,2019-12-28T18:27:15.9975027Z,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,2019-12-28T18:27:15.9975027Z,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,2019-12-28T18:27:15.9975027Z,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,2019-12-28T18:27:15.9975027Z,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN

#### What is cheapest home in the dataset? (★☆☆)

In [11]:
print(df_datos.info())
print(df_datos.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15335 entries, 1 to 15335
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_realEstates    15335 non-null  int64
 1   isNew             15335 non-null  bool
 2   realEstate_name   15325 non-null  object
 3   phone_realEstate  14541 non-null  float64
 4   url_inmueble      15335 non-null  object
 5   rooms             14982 non-null  float64
 6   bathrooms         14990 non-null  float64
 7   surface           14085 non-null  float64
 8   price             15335 non-null  int64
 9   date              15335 non-null  object
 10  description       15193 non-null  object
 11  address           15335 non-null  object
 12  country           15335 non-null  object
 13  level1            15335 non-null  object
 14  level2            15335 non-null  object
 15  level3            15335 non-null  object
 16  level4            8692 non-null   object
 17  level5            15335 non-null  object
 18  level6            708 non-null    object
 19  level7            13058 non-null  object
 20  level8            6756 non-null   object
 21  upperLevel        15335 non-null  object
 22  countryId         15335 non-null  int64
 23  level1Id          15335 non-null  int64
 24  level2Id          15335 non-null  int64
 25  level3Id          15335 non-null  int64
 26  level4Id          15335 non-null  int64
 27  level5Id          15335 non-null  int64
 28  level6Id          15335 non-null  int64
 29  level7Id          15335 non-null  int64
 30  level8Id          15335 non-null  int64
 31  accuracy          15335 non-null  int64
 32  latitude          15335 non-null  object
 33  longitude         15335 non-null  object
 34  zipCode           0 non-null      float64
 35  customZone        0 non-null      float64
dtypes: bool(1), float64(6), int64(12), object(17)
memory usage: 4.2+ MB
None
       id_realEstates  phone_realEstate         rooms     bathrooms  \
count    1.533500e+04      1.454100e+04  14982.000000  14990.000000
mean     1.524371e+08      9.143423e+08      3.231611      2.150233
std      2.277286e+06      7.516036e+06      1.393106      1.292079
min      1.221584e+08      8.762742e+08      1.000000      1.000000
25%      1.519456e+08      9.113649e+08      2.000000      1.000000
50%      1.532413e+08      9.121841e+08      3.000000      2.000000
75%      1.538105e+08      9.148904e+08      4.000000      3.000000
max      1.540033e+08      9.887761e+08     30.000000     20.000000

             surface         price  countryId  level1Id  level2Id  level3Id  \
count   14085.000000  1.533500e+04    15335.0   15335.0   15335.0   15335.0
mean      196.916436  4.773036e+05        0.0       0.0       0.0       0.0
std      2182.758313  5.912942e+05        0.0       0.0       0.0       0.0
min        15.000000  0.000000e+00        0.0       0.0       0.0       0.0
25%        80.000000  1.690000e+05        0.0       0.0       0.0       0.0
50%       114.000000  2.800000e+05        0.0       0.0       0.0       0.0
75%       205.000000  5.400000e+05        0.0       0.0       0.0       0.0
max    249000.000000  8.500000e+06        0.0       0.0       0.0       0.0

       level4Id  level5Id  level6Id  level7Id  level8Id      accuracy  \
count   15335.0   15335.0   15335.0   15335.0   15335.0  15335.000000
mean        0.0       0.0       0.0       0.0       0.0      0.166873
std         0.0       0.0       0.0       0.0       0.0      0.372875
min         0.0       0.0       0.0       0.0       0.0      0.000000
25%         0.0       0.0       0.0       0.0       0.0      0.000000
50%         0.0       0.0       0.0       0.0       0.0      0.000000
75%         0.0       0.0       0.0       0.0       0.0      0.000000
max         0.0       0.0       0.0       0.0       0.0      1.000000

       zipCode  customZone
count      0.0         0.0
mean       NaN         NaN
std        NaN         NaN
min        NaN         NaN
25%        NaN         NaN
50%        NaN         NaN
75%        NaN         NaN
max        NaN         NaN

#### What is the biggest and the smallest home in the dataset? (★☆☆)

In [44]:
dato_max=df_datos['price'].max()
indice = df_datos[['price']].idxmax()
#print(dato_max)
#print(indice)
display("La propiedad mas cara",df_datos.iloc[indice-1,])
# Ahora trato de calcular la propiedad mas barata
# Para eso saco los datos de la propiedad que valen 0
df_mayor_cero=df_datos[df_datos['price']>0.0]
dato_min=df_mayor_cero['price'].min()
print(dato_min)
ind_min=df_mayor_cero[['price']].idxmin()
print(ind_min)
display("La propiedad mas barata",df_mayor_cero.iloc[ind_min-39,])

'La propiedad mas cara'

,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,date,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
13111,132042636,False,engel volkers torrelodones,911798512.0,https://www.fotocasa.es/es/comprar/vivienda/vi...,19.0,NaN,NaN,8500000,2019-12-19T12:29:00Z,...,0,0,0,0,0,0,"40,5830801751782","-4,12951942848611",NaN,NaN

600
price    7492
dtype: int64

'La propiedad mas barata'

,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,date,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
7492,153977752,False,redpiso coslada,910759552.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,80.0,600,2019-12-24T12:56:00Z,...,0,0,0,0,0,0,"40,41869","-3,54004",NaN,NaN

#### How many populations (level5) the dataset contains? (★☆☆)

#### Does the dataset contain NAs? (★☆☆)

#### Delete the NAs of the dataset, if applicable (★★☆)

#### What is the mean of prices in the population (level5) of "Arroyomolinos (Madrid)"? (★★☆)

#### Plot the histogram of prices for the population (level5) of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

#### Now let's work with the "south belt" of madrid. Make a subsetting that contains the following populations (level5): "Fuenlabrada","Leganés","Getafe","Alcorcón" (★★☆)

#### Make a bar plot of the median of prices (★★★)

#### Calculate the sample mean and variance of the variables: price, rooms, surface area and bathrooms (★★★)

#### What is the most expensive home of each population? (★★☆)

#### Normalize the variable of prices for each population and plot the 4 histograms in the same plot (★★★)

#### Make a plot of the coordinates (lat and long) of the south belt of Madrid by color of each population (★★★★) 
This is a extremely hard exercise and we highly recommend to do it at the end of everything

In [ ]:
# Run in console the following command before run the rest of code:
# jupyter nbextension enable --py --sys-prefix ipyleaflet

from ipyleaflet import Map, basemaps

# Map centred on (60 degrees latitude et -2.2 degrees longitude)
# Latitude, longitude
map = Map(center = (60, -2.2), zoom = 2, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.Stamen.Terrain)
map

In [ ]:
## HERE: plot the coordinates of the estates

## PUT HERE YOUR CODE:

#### What can you say about the price per square meter between the towns of Getafe and Alcorcón?

#### Reload the data, is the average of "Valdemorillo" and "Galapagar" prices the same?

#### What happens if we do the same analysis for price/m2 (★★☆)

#### Could you say there is a relation between surface and price? (★★☆) 
Hint: make a scatter plot.

#### Make the same plot for 4 different populations (level5) and rearrange them on the same graph? (★★☆) 
Hint: make a scatter plot of each population using subplots.

#### How many  real estate agencies the dataset contains? (★★☆)

#### What is the population (level 5) that contains the most houses? (★★☆)